#video-container {
	width: 100%;
	position: relative;
}

#video-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	opacity: 0;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
	background-image: linear-gradient(bottom, #ccc 13%, #ccc 100%);
	background-image: -o-linear-gradient(bottom, #ccc 13%, #ccc 100%);
	background-image: -moz-linear-gradient(bottom, #ccc 13%, #ccc 100%);
	background-image: -webkit-linear-gradient(bottom, #ccc 13%, #ccc 100%);
	background-image: -ms-linear-gradient(bottom, #ccc 13%, #ccc 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.13, #ccc),
		color-stop(1, #ccc)
	);
}

#video-container:hover #video-controls {
	opacity: .9;
}

button {
	background: rgba(0,0,0,.5);
	border: 0;
	color: #EEE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	width: 30px;
	height: 20px;
	line-height: 18px;
}

button:focus {outline:0;}

video:hover, button:hover, progress:hover {
	cursor: pointer;
}

progress {
  color: #e1efcf;
  font-size: .6em;
  line-height: 1.5em;
  text-indent: .5em;
  height: 1.8em;
  border: 1px solid #e1efcf;
  background: #ccc;
  width: 94%;
  float: right;
}

progress::-moz-progress-bar { background: #e1efcf; }
progress::-webkit-progress-bar { background: #ccc; }
progress::-webkit-progress-value { background: #e1efcf; }

#volume-bar {
	width: 60px;
}

#button-container {
	width: 30px;
	float: left;
	margin-right: 5px;
}


